* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black:  hsl(0, 0%, 0%);
  --darkGray: hsl(0, 0%, 55%);
  --veryDarkGray: hsl(0, 0%, 41%);
}


body{
  font-family: var(--font-alata);
}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em 4em;
}


/* NAVBAR */

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-item{
  margin: 0 2rem;
  text-decoration: none;
  color: var(--white);
  position: relative;
}


.nav-btn{
  padding: 0.3225em;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--white);
  display: none;
  opacity: 0;
  font-size: 1.8rem;
}


.header-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* HEADER */
.header {
    background: url('/images/mobile/image-hero.jpg');
    height: 30em;
    background-size: cover;
    background-position: center;
    padding: 3em 4em;
}


.header-text{
  text-transform: uppercase;
  border: 2px solid var(--white);
  color: var(--white);
  padding: 1em 2em;
  max-width: 450px;    
  font-family: var(--font-josefin-sans);
  font-size: 1.8rem;  
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5em;
}


/* HERO */
.hero{
  text-align: center;
}


.hero-image{
  object-fit: cover;
  max-width: 100%;
  display: block;
}


.hero-text h2{
  text-transform: uppercase;
  color: var(--black);
  font-family: var(--font-josefin-sans);
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1em 0;
}


.hero-text p{
  color: var(--darkGray);
  display: block;
}


/* IMAGE GALLERY */

.image-container{
  position: relative;
}


.image-text{
  position: absolute;
  top: 50%;
  left: 12%;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  font-family: var(--font-josefin-sans);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  max-width: 90px;
}


/* CREATIONS */

 .creations {
   display: flex;
   align-items: center;
} 


.creation-text{
  display: flex;
  align-items: center;
}


.creations h1{
  font-family: var(--font-josefin-sans);
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}


.see-btn{
  border: 1px solid var(--black);
  background: transparent;
  cursor: pointer;
  padding: 0.5em 2.5em;
  text-transform: uppercase;
  font-family: inherit;
  margin-top: 2em; 
  letter-spacing: 0.2em;
}


.see-btn:hover{
  background: var(--black);
  color: var(--white)
}



/* FOOTER */
.footer{
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3em 4em;
}


.footer-items{
  list-style: none;
}


.footer-col p {
  color: var(--darkGray);
}


.footer__social-image{
  font-size: 2rem;
  margin-left: 0.5em;
}


@media(max-width: 768px){
  .nav-btn{
    display: block;
    opacity: 1;
  }
    
  
  .nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--black);
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 1;
  }


  .nav-item{
    font-family: var(--font-josefin-sans);
    text-transform: uppercase;
    font-weight: 300;
  }

  
  .responsive_nav{
    transform: none;
  }


  .nav-close-btn{
     position: absolute;
     top: 2rem;
     right: 2rem;
  }


  .nav-item{
    font-size: 1.5rem;
  }
  

  .footer-col{
    margin-top: 2em;
  }


  .footer-items li {
    margin-top: 1em;
  }
}


@media(min-width: 768px){
  .header{
    background: url('/images/desktop/image-hero.jpg');
  }


  .header-text{
    font-size: 3rem;
    margin-top: 1.5em;
    padding:  0.45em;
  }
  

  .nav-item::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--white);
  bottom: -8px;
  left: 12px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
 }


  .nav-item:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .hero{
     display: flex;
     justify-content: space-between;
     padding: 2em 4em;
  }


  .hero-text{
    max-width: 550px;
    background-color: var(--white);
    padding: 3.5em 3em 0 4em;
    position: absolute;
    top: 118%;
    left: 52%;
    right: 0;
    text-align: left;
  }


  .hero-text h2{
     font-size: 2rem;
  }


  .footer{
    flex-direction: row;
    justify-content: space-between;
  }


  .footer-items{
    display: flex;
    text-align: left;
    margin-top: 1em;
  }


  .footer-col{
    text-align: right;
  }


  .footer-col p {
    margin-top: 1em;
  }


  .footer-items-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }


  .footer-items li:not(:last-child) {
    margin-right: 1.3em;
 }
  

  .image-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0;
  }


  .image-container{
    width: 22%;
    margin-bottom: 0.7em;
  }


  .image-text {
    top: 78%;
    left: 12%;
    font-size: 1.5rem;
    max-width: 140px;
  }


  .creations{
    position: relative;
  }


  .creations h1{
    margin-right: auto;
    padding-left: 2.3em;
    font-size: 2rem;
  }


  .see-btn{
    position: absolute;
    top: 23px;
    right: 145px;
  }

}